.nav-item3 {
	background-color: #018a94;
  }

  .nav-item1:hover {
	background-color: #018a94;
  }
  .nav-item2:hover {
    background-color: #018a94;
    }

    .nav-item3:hover {
      background-color: #018a94;
      }

      .nav-item:hover {
        background-color: #c51313;
        }

  .nav-item10 {
	background-color: #018a94;
  }

  .nav-item11:hover {
	background-color: #018a94;
  }

  .nav-item10:hover {
	background-color: #018a94;
  }